.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    width: 100%;
}

.about-development-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;

    width: 100%;
}

.about-page-container {
    width: 70%;
    min-height: 440px;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-theme-primary2);
    transition: min-height 0.2s ease, height 0.2s ease;
    align-items: center;
    border-radius: var(--dl-layout-radius-radius4);

}

.socialIcons{
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    transform: scale(1);
    margin-bottom: var(--dl-layout-space-unit);
}
.socialIcons:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px var(--dl-color-theme-primary1));
    fill: var(--dl-color-theme-primary1);

}
.about-page-header {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    margin-top: var(--dl-layout-space-twounits);
    border-radius: var(--dl-layout-radius-radius4);
    margin-bottom: var(--dl-layout-space-halfunit);
}
.about-page-text{
    .message {
        width: auto;
        min-height: 28px; /* ✅ это вместо жёсткого height */
        padding: 0.5rem 1rem;
        color: var(--dl-color-theme-secondary1);
        font-size: 16px;
        text-align: center;
        word-wrap: break-word; /* ✅ длинный текст переносится */
        word-break: break-word;
        line-height: 1.4;
        white-space: pre-line;
    }
}
.techLogo{
    height: 30px;

}
.technologiesTable{

    width: 90%;
}
Table{
    max-height: 500px;
}